$body-color: red;
body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  height: 600px;
  justify-content: center;
}

#playerGameBoard {
  display: grid;
  height: 500px;
  width: 500px;
  margin: 50px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  button {
    height: 50px;
    width: 50px;
    background-color: none;
    border: 0.3px solid black;
  }
}

#computerGameBoard {
  display: grid;
  height: 500px;
  width: 500px;
  margin: 50px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  button {
    height: 50px;
    width: 50px;
    background-color: none;
    border: 0.3px solid black;
  }
  button:hover {
    transform: scale(1.02, 1.02);
  }
}

#playerDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  button {
    margin: 20px;
    padding: 10px;
  }
  #startButton.disabled {
    pointer-events: none;
    background-color: rgb(237, 237, 237);
  }
  #gameMessages {
    display: flex;
    flex-wrap: wrap;
  }
}

.ship {
  background-color: rgb(79, 79, 79);
}

.hit {
  background-color: rgb(99, 169, 243);
  pointer-events: none;
}

.shipHit {
  background-color: red;
  pointer-events: none;
}

.sunk {
  background-color: rgb(132, 2, 2);
  pointer-events: none;
}

.shipPlacement {
  background-color: darkslateblue;
}

.disabled {
  pointer-events: none;
}
